@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}

*,
::before,
::after {
  border-width: 0;
}

.view-container {
  @apply box-border mx-auto;
  @apply w-[1320px] max-2xl:w-[1200px] max-xl:w-[960px] max-lg:w-[720px] max-md:w-[640px] max-sm:w-[300px];
}
.arrow-container {
  display: flex;
  align-items: center;
}
